@page
@model Taller.App.Front.Pages.GestionMecanicoModel
@{
}
<h4 id="idTitulo">Gestión Mecánicos</h4>
 <p>
 </p>
 <div class="text-center">
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Agregar Nuevo</button>
</div>
<div class="d-flex justify-content-end">
<nav class="navbar navbar-light bg-light">
  <form method="post" class="form-inline" style="display:flex;">
    <input name="textBuscar"class="form-control mr-sm-2" type="search" asp-for="@Model.textBuscar" placeholder="Búsqueda Mecánico" aria-label="Ingrese Acá">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-page-handler="Buscar">Filtrar</button>
  </form>
</nav>
</div>
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Numero de Teléfono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Nivel Estudios</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  
  <!--se realiza el mismo ejercicio pero con otro tipo de for-->
  @if(Model.listaMecanic != null){
  @foreach (var m in Model.listaMecanic){

    <tr>
      
      <td>@m.MecanicoId</td>
      <td>@m.nombre</td>
      <td>@m.telefono</td>
      <td>@m.direccion</td>
      <td>@m.fechaNacimiento</td>
      <td>@m.nivelEstudio</td>
      <td>
      @if(@Model.mecanicoActual !=null && @Model.mecanicoActual.MecanicoId!="")
      {
      <a class="bi bi-pencil-square class-icon-edit" asp-area="" asp-route-id="@m.MecanicoId" asp-page="/GestionMecanico/EditarMecanico"></a>
      <button type="submit" asp-route-id="@m.MecanicoId" class="bi bi-trash3-fill class-icon-delete" title="eliminar"></button>
      }else
      {
      <form class="px-12" method="POST">
      <a class="bi bi-pencil-square class-icon-edit" asp-area="" asp-route-id="@m.MecanicoId" asp-page="/GestionMecanico/EditarMecanico"></a>
      <button type="submit" asp-route-id="@m.MecanicoId" asp-page-handler="Del" class="bi bi-trash3-fill class-icon-delete" title="eliminar"></button>
      </form>

      }

      </td>
    </tr>}
  }
  
  
  </tbody>

</table>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario Inscripción - Nuevo Mecánico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="px-12" method="POST">
      <div class="modal-body">
      
      <div class="row">
        <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Id:</label>
        <input type="text" class="form-control" placeholder="Ingrese su Identificación" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.mecanicoActual.MecanicoId" name="MecanicoId">
        </div>
        <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese su Nombre" aria-label="Username" aria-describedby="basic-addon1"asp-for="@Model.mecanicoActual.nombre" name="nombre">
        </div>
      </div>
      <div class="row">
      <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Teléfono</label>
        <input type="text" class="form-control" placeholder="Ingrese Número de Teléfono" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.mecanicoActual.telefono" name="telefono">
        </div>
       <div class="mb-3 col-6">
       <label for="recipient-name" class="col-form-label">Fecha de Nacimiento</label>
       <input type="date" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.mecanicoActual.fechaNacimiento" name="fechaNacimiento">
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-6">
       <label for="recipient-name" class="col-form-label">Dirección</label>
       <input type="text" class="form-control" placeholder="Ingrese Dirección de Residencia" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.mecanicoActual.direccion" name="direccion">
      </div>
      <div class="mb-3 col-6">
       <label for="recipient-name" class="col-form-label">Nivel de Estudio</label>
       <select class="form-select" id="inputGroupSelect01" asp-for="@Model.mecanicoActual.nivelEstudio" name="nivelEstudio">
        <option selected>Elegir...</option>
        <option value="Bachiller">Bachiller</option>
        <option value="Técnico">Técnico</option>
        <option value="Tecnólogo">Tecnólogo</option>
        <option value="Profesional">Profesional</option>
      </select>
      </div>
    </div>
    <div class="row">
    <div class="mb-3 col-12">
    <label for="recipient-name" class="col-form-label">Contraseña</label>
    <input type="password" class="form-control" placeholder="Ingrese nueva Contraseña" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.mecanicoActual.contrasenia" name="contrasenia">
    </div>
    </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" asp-page-handler="Add">Registrar</button>
        
      </div>
      </form>
    </div>
    
  </div>
</div>
 
