@page
@model Taller.App.Front.Pages.EditarRevisionModel
@{
}
<a class="btn btn-warning" asp-area="" asp-page="/Revisiones/GestionRevision">Regresar</a>
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario - Editar Revisión Vehículo</h5>
        
      </div>
      <form class="px-12" method="POST">
      <div class="modal-body">
      
      <div class="row">
        <div class="mb-3 col-4">
        <label for="recipient-name" class="col-form-label">Id:</label>
        <input type="text" class="form-control" placeholder="Ingrese Id Revision" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.revisionActual.RevisionId" name="RevisionId" readonly>
        </div>
        <div class="mb-3 col-4">
        <label for="recipient-name" class="col-form-label">Fecha Revisión</label>
        <input type="date" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"asp-for="@Model.revisionActual.fecharevision" name="fecharevision">
        </div>
        <div class="mb-3 col-4">
        <label for="recipient-name" class="col-form-label">Hora Revisión</label>
        <input type="time" class="form-control" placeholder="Ingrese Hora" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.revisionActual.hora" name="hora">
        </div>
      </div>
      <div class="row">
       <div class="mb-3 col-4">
       <label for="recipient-name" class="col-form-label">Mecánico</label>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.revisionActual.MecanicoId" name="MecanicoId" readonly>
        </div>
        <div class="mb-3 col-4">
       <label for="recipient-name" class="col-form-label">Vehículo</label>
       <input type="text" class="form-control" placeholder="Ingrese Id Revision" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.revisionActual.PlacaVehiculo" name="PlacaVehiculo" readonly>
        </div>
        <div class="mb-3 col-4">
        <label for="recipient-name" class="col-form-label">Sede</label>
        <input type="text" class="form-control" placeholder="Ingrese Id Revision" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.revisionActual.SedeRevision" name="SedeRevision" readonly>
      </div>
    </div>
    <div class="row">
    <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Estado</label>
        <select class="form-select" id="inputGroupSelect01" asp-for="@Model.revisionActual.EstadoRevision" name="EstadoRevision">  
        <option value="Revision">Revision</option>
        <option value="Finalizado">Finalizado</option>
        </select>
        </div>
        <div class="mb-3 col-6">
        <label for="recipient-name" class="col-form-label">Detalle Revisión</label>
        <input type="text" class="form-control" placeholder="Ingrese" aria-label="Username" aria-describedby="basic-addon1" asp-for="@Model.revisionActual.DetalleRevision" name="DetalleRevision">
        </div>
    </div>
    </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Actualizar</button>
      </div>
      </form>
    </div>
    
  </div>
</div>
